<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    {% extends "best_bank_as/base.html" %}

    {% block content %}
        <form accept-charset="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Log In</button>
        </form>
        <a href="{% url 'best_bank_as:create_customer' %}">Don't have an account? Register</a>
        <br>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    {% endblock %}
</html>
