<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    {% extends "best_bank_as/base.html" %}

    {% block content %}
    <form method="post" action="{% url 'best_bank_as:customer_register' %}">
        {% csrf_token %}
        {{ user_form}}
        {{ customer_form }}
        <button type="submit">Create Customer</button>
    </form>

    {% endblock %}
</html>
