 {% extends "best_bank_as/base.html" %}
    <!-- Main section -->
    {% block content %}

        <h1>Hi {{ customer.user.username }}</h1>

        <div>
            <button
            hx-get="{% url 'best_bank_as:get_accounts' user.pk %}"
            hx-target="#account_target"
            >Accounts</button>
        </div>
        <div>
            <button
                    hx-get="{% url 'best_bank_as:transfer_money' %}"
                    hx-target="#transfer_target"
            >Transfer Money</button>
        </div>
        <div id="account_target"></div>
        <div id="transfer_target"></div>
    {% endblock %}
