{% extends "best_bank_as/base.html" %}
    <!-- Main section -->
    {% block content %}

        <h1>Hi {{ customer.user.username }}</h1>

        <div>
            <button
            hx-get="{% url 'best_bank_as:get_accounts_list'%}"
            hx-target="#target"
            >Accounts</button>
        </div>
        <div>
           <form
                   method="post"
                   action="{% url 'best_bank_as:get_accounts_list' %}"
                   hx-target="#target">

                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Request Account</button>
            </form>
        </div>
        <div>
            <button
                    hx-get="{% url 'best_bank_as:transfer_money' %}"
                    hx-target="#target"
            >Transfer Money</button>
        </div>
        <div id="target"></div>
    {% endblock %}
