<select name="account_status" id="account_status"
        hx-put="{% url 'best_bank_as:account_details' account.pk %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}", "Content-Type": "application/json"}'
        hx-trigger="change delay:1500ms"
        hx-swap="outerHTML"
        style="text-transform: capitalize"
>
    <option hidden> {{ account.get_account_status_display }}</option>

    {% for status_name, status_value in status_list %}
        <option style="background: greenyellow" value="{{ status_value }}">{{ status_name.lower }}</option>
    {% endfor %}    
</select>

{% include "best_bank_as/messages/messages.html" %}

