{% extends "best_bank_as/base.html" %}
 
{% block content %}
 
 <h2>Transactions for Account: {{ account.account_number }}</h2>

{% if transactions %}
    <table border="1">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Counterpart Account Number</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.counterpart_account_number }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.created_at|date:"F d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No transactions available.</p>
{% endif %}

{% endblock %}