<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                    <a href="{% url 'best_bank_as:profile_page' username=user.username %}">{{ user.username }}</a>
                {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</body>