<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/accounts/logout">Logout</a></li>
                {% if not user.is_employee %}
                    <li><a href="{% url 'best_bank_as:profile' %}">My Page</a></li>
                    <li><a href="{% url 'best_bank_as:loan_application_list' %}">Apply for Loan</a></li>
                {% else %}
                    <li>
                        <details role="list">
                            <summary aria-haspopup="listbox" role="link">Manage Customers</summary>
                            <ul role="listbox">
                                <li><a href="{% url 'best_bank_as:staff_page' %}">Edit
                                    Customers</a></li>
                                <li><a href="{% url 'best_bank_as:customer' %}">Create Customer</a></li>
                                <li><a href="{% url 'best_bank_as:customers_approve_list' %}">Approve Customers</a></li>
                                <li><a href="{% url 'best_bank_as:approve_loan_applications' %}">Approve
                                    Loans</a></li>
                            </ul>
                        </details>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="/accounts/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
</body>
