<body>
    {% block content %}

    {% if is_customer %}

    <h1>Your loan applications</h1>
    <form action="{% url 'best_bank_as:loan_application_list' %}" method="get">

    {% else %}

    <form action="{% url 'best_bank_as:approve_loan_applications' %}" method="get">
    <h1>Loan applications</h1>
        
    {% endif %}

        <select name="status_filter">
            <option value="">--Select a Status--</option>
            <option value="1">Pending</option>
            <option value="2">Employee Approved</option>
            <option value="3">Supervisor Approved</option>
            <option value="4">Rejected</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    {% for application, status in loan_applications %}
    {% if is_customer %}
    <a href="{% url 'best_bank_as:loan_application_details' application.pk %}">
    {% else %}
    <a href="{% url 'best_bank_as:staff_loan_application_details' application.pk %}">
    {% endif %}
        <article>
        <p>Status: {{ status }}</p>
        <p>Loan amount: {{ application.amount }}</p>
        <p>Reason: {{ application.reason }}</p>
        <p>Customer: {{ application.customer.user.username }}</p>
        </article>
    </a>
    {% endfor %}

    {% endblock %}
</body>
