<body>
    {% extends "best_bank_as/base.html" %}
    {% block content %}

    {% if loan_application %}
    <p>Status: {{ status_name }}</p>
    <p>Loan amount: {{ loan_application.amount }}</p>
    <p>Reason: {{ loan_application.reason }}</p>
    {% endif %}
    {% if is_customer %}

    <button hx-delete="{% url 'best_bank_as:loan_application_details' loan_application.pk %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        hx-confirm="Are you sure you want to delete the loan application?">
        Delete
    </button>
    
    {% else %}

    <button hx-delete="{% url 'best_bank_as:staff_loan_application_details' loan_application.pk %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        hx-confirm="Are you sure you want to reject this loan application?">
        Reject
    </button>
    <button hx-put="{% url 'best_bank_as:staff_loan_application_details' loan_application.pk %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        hx-confirm="Are you sure you want to approve this loan application?">
        Approve
    </button>  
    {% endif %} 






    {% endblock %}
</body>