<body>
    {% extends "best_bank_as/base.html" %}
    {% block content %}
    {% include "best_bank_as/loans/loan_application_form.html" %}

    {% if loan_applications %}
    <h1>Your loan applications</h1>
    {% for application, status in loan_applications %}
    <a href="{% url 'best_bank_as:loan_application_details' application.pk %}">
        <p>Status: {{ status }}</p>
        <p>Loan amount: {{ application.amount }}</p>
        <p>Reason: {{ application.reason }}</p>
    </a>
    {% endfor %}
    {% endif %}

    {% endblock %}
</body>