<select name="customer_rank" id="customer_rank"
        hx-put="{% url 'best_bank_as:customer' customer.pk %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}", "Content-Type": "application/json"}'
        hx-trigger="change delay:1500ms"
        hx-swap="outerHTML">
    <option hidden> {{ customer.get_rank_display }}</option>

    {% for rank_name, rank_value in rank_list %}
        <option style="background: greenyellow" value="{{ rank_value }}">{{ rank_name }}</option>
    {% endfor %}
</select>

{% if messages %}
    {% for message in messages %}
        {% if message.level_tag == "success" %}
            <p style="color: greenyellow">{{ message }}</p>
        {% elif message.level_tag == "error" %}
            <p style="color: red">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endif %}

