{% extends "best_bank_as/base.html" %}

{% block content %}
    <h1>Search Results for "{{ query }}"</h1>

    {% if customers %}
        {% for customer in customers %}
            <table border="1">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Phone Number</th>
                    <th>Customer Level</th>
                    <th>Accounts</th>
                </tr>
                </thead>
                <tbody>
                <tr>


                    <td>
                        <a href="{% url 'best_bank_as:get_accounts_for_user' customer.user.pk %}">{{ customer.user.username }}</a>
                    </td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.get_rank_display }}</td>
                    <td>
                        <table border="1">
                            <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th>Account Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in customer.account_set.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'best_bank_as:get_details' account.pk %}">{{ account.account_number }}</a>
                                    </td>
                                    <td>{{ account.get_type_display }}</td>
                                    <td>
                                        {% include "best_bank_as/accounts/account_status_partial.html" %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <form action="{% url 'best_bank_as:get_accounts_list' %}" method="post">
                            <input hidden name="account_status" value="active" type="text">
                            {% csrf_token %}
                            <button>Create account</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        {% endfor %}

    {% else %}
        <p>No customers found.</p>
    {% endif %}
{% endblock %}